openapi: 3.0.0
info:
  title: Code Basics
  version: 1.0.0
servers:
  - url: https://code-basics.com
paths:
  /rest/api/v1/pets:
    get:
      summary: get all
      requestBody:
        required: false
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PetFindAllRq'
      responses:
        200:
          description: Success response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PetFindAllPaginRs'

  /rest/api/v1/pets/{id}:
    get:
      summary: get by id
      parameters:
        - name: id
          in: path
          required: true
          description: Идентификатор питомца
          schema:
            type: string
            format: uuid
      responses:
        "200":
          description: Успешный ответ
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PetRs'
        "404":
          description: Не успешный ответ, питомец не найден
components:
  schemas:
    PetRs:
      type: object
      required:
        - id
        - name
        - age
        - createdAt
      properties:
        id:
          type: string
          format: uuid
          description: Уникальный идентификатор
        name:
          type: string
          description: Имя питомца
          example: Tom
        age:
          type: integer
          description: Возраст питомца
        createdAt:
          type: string
          format: datetime
          example: "2025-12-05T20:26:10.9680942"
          description: Время создания

    PetFindAllRq:
      type: object
      properties:
        pageRq:
          $ref: '#/components/schemas/PageRq'
        filter:
          type: array
          items:
            $ref: '#/components/schemas/PetFilterRq'

          description: Фильтрация
      description: Данные о пагинации

    PetFilterRq:
      type: object
      required:
        - key
        - value
      properties:
        key:
          type: string
          description: Ключ фильтра
          example: PET_NAME
        value:
          type: string
          example: Tom
          description: Значение фильтра

    PetFindAllPaginRs:
      allOf:
        - $ref: '#/components/schemas/PageRs'
        - type: object
          properties:
            content:
              type: array
              items:
                $ref: '#/components/schemas/PetRs'
              description: Данные о питомцах
      description: Спагинированные питомцы

    PageRq:
      type: object
      properties:
        pageNumber:
          type: integer
          minimum: 0
          description: Номер страницы
        pageSize:
          type: integer
          minimum: 1
          description: Размер данных на странице
      description: Данные о пагинации

    PageRs:
      type: object
      required:
        - content
        - pageNumber
        - pageSize
        - totalCount
        - hasNext
      properties:
        content:
          type: array
          items:
            type: object
          description: Данные
        pageNumber:
          type: integer
          description: Номер страницы
        pageSize:
          type: integer
          example: 12
          description: Размер данных на странице
        totalCount:
          type: integer
          example: 175
          description: Общее кол-во данных
        hasNext:
          type: boolean
          example: true
          description: Последняя-ли страница
      description: Данные с пагинацией